mulesoft_batch_processing/src/main/mule/mulesoft_batch_processing.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:sockets="http://www.mulesoft.org/schema/mule/sockets" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/sockets http://www.mulesoft.org/schema/mule/sockets/current/mule-sockets.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="54f2fa8c-d4b8-41f2-961e-25536c72cb4b" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<file:config name="BatchProcessingFileConfig" doc:name="File Config" doc:id="442fbfe4-7dc3-4e46-b3ae-447801e7d1da" >
	</file:config>
	<flow name="mulesoft_batch_processingFlow" doc:id="53c75833-9375-4e83-b950-b26bbd6e4412" >
		<file:listener doc:name="On New or Updated File" doc:id="9a4cc888-093b-4c7e-a954-1bdc665c4796" config-ref="BatchProcessingFileConfig" directory="C:\Users\ameya.andurekar\Desktop\TestWork\Mulesoft\FilePolling\Input" autoDelete="true" moveToDirectory="C:\Users\ameya.andurekar\Desktop\TestWork\Mulesoft\FilePolling\Output">
			<scheduling-strategy >
				<fixed-frequency frequency="5" timeUnit="SECONDS"/>
			</scheduling-strategy>
		</file:listener>
		<ee:transform doc:name="Transform Message" doc:id="bf139092-9eae-4666-a977-3ca611b14dd9">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#[payload.Industry]" doc:name="Set Variable" doc:id="309be8cc-001c-4ce4-900a-9f93b759e4da" variableName="OutputFileVariable" />
		<ee:transform doc:name="Transform Message" doc:id="6e764db4-e2b5-48ae-b786-e345ffa96abb">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/csv
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="a5477047-c38c-4af5-839c-287bba595cd0" collection="#[vars.OutputFileVariable]">
			<file:write doc:name="Write" doc:id="2f7725e7-5179-4137-aed1-79921baeb2e2" config-ref="BatchProcessingFileConfig" path="#[payload]" />
		</foreach>
		<logger level="INFO" doc:name="Logger" doc:id="b1688187-8ca1-4a21-baab-cae1dbee889b" message="after for each" />
	</flow>
</mule>
